.responsive {
	width: 50%;
	height: auto;
  }
  .body3
{
	background:url("honourback.jpg") no-repeat center center/cover;
	 width: 100%;
	 height: 100vh;
}
.body3 h1
{
	color:#000;
	font-family: 'Cinzel', serif;
	letter-spacing: 8px;
	padding-top: 50px;
}
.body3 a:hover
{
	background: #eee;
	color: #444;
	text-decoration: none;
}
.body3 .himg
{
	height: 600px;
	width: 420px;
	border-color: transparent;
	padding: 20px;
}
@media screen and (max-width: 992px)
 {
	.body3 .himg
	{
	height: 600px;
	width: 420px;
	border-color: transparent;
	padding: 20px;
	}
  }
  @media screen and (max-width: 768px)
  {
	 .body3 .himg
	 {
	 height: 400px;
	 width: 320px;
	 border-color: transparent;
	 padding: 20px;
	 }
   }
   @media screen and (max-width: 600px) {
	header {
	  background-image: url(./img/scott-web-600-600.jpg);
	  background-size: cover;
	  background-repeat: no-repeat;
	  min-height: 600px;
	  border-bottom: 2rem solid hsl(20deg, 50%, 70%);
	  justify-content: flex-start;
	  align-items: flex-end;
	}
	h1 {
	  font-size: 4rem;
	}
	img {
	  width: 100%;
	}
  }
  @media screen and (min-width: 601px) and (max-width: 1200px) {
	img {
	  width: 100%;
	}
  }
  @media screen and (min-width: 1201px) {
	img {
	  width: 60%;
	}
   }
 
  @media screen and (max-width: 550px) {
	h1 {
	  font-size: 2.4rem;
	}
  }
 p
  {
	font-size: 1.4rem;
  }
