.body header
{
	height:40vh;
	width: 100%;
}
.body
{
  background:url("head.jpg") no-repeat center center/cover;
  height: 100vh;
  width: 100%;
}

.body h1
{
	padding-left: 200px;
	padding-top: 50px;
	text-align: center;
	color: #fff;
	font-family: 'Cinzel', serif;
	letter-spacing: 8px;
}
.body nav
{
	background: transparent;
	width: 100%;
	height: 40px;
	display: inline-block;
	position: relative;
	align-items: center;
	margin-left:80px ;
	margin-top:30px ;

}
.body nav ul
{
	list-style: none; 
  	padding:0;
  	margin: 0;
  	text-align: center;
  
}
.body nav li
{
	display: inline-block;
	padding: 10px;
}
.body nav a{
	display:inline-block;
	width: 100px;
	text-decoration: none;
	text-align: center;
	color:#fff;
	padding: 10px 0;
}
.body a:hover
{
	background-color: #eee;
	display: inline-block;
	text-decoration: none;
	color: #000;
}

.con 
{
	float: right;
	width: 50%;
	height: 200px;
	background-color: #eee;
	margin-right: 40px;
	padding: 30px;
}

.disp
{
	font-size: 30px;
}

.body1
{
	background: url("barca.jpg") no-repeat center center/cover;
 	height: 100vh;
  	width: 100%;
}
.body1 h1
{
	color:#3448C3;
	padding-top: 50px;
	text-align: center;
	font-family: 'Cinzel', serif;
	letter-spacing: 8px;

}
.body1 nav a
{
  color: #F7DC6F;
}
.body1 header
{
  height: 20vh;
}
.body1 img
{
	width: 200px;
	height: 200px;
	border-radius: 5px;
}
.body1 .barcaimg
{
	margin-right: 2%;
	display:inline-block;
	float:left;
	width:15%;
	height:40%;
	padding:10px;

}
.bar 
{
	padding: 5px;
}

.content
{
	margin-top:100px;
	width:45%;
	margin-right: 2%;
	display:block;
	float:left;
	background-color:transparent;
	padding: 20px;
	color: #fff;
}
.content h2
{
	color:#000;
}
.body1 a:hover
{
	background-color: #eee;
	display: inline-block;
	text-decoration: none;
	color:#3448C3;
}
.body2 h1
{
	color:#444;
	font-family: 'Cinzel', serif;
	letter-spacing: 8px;
	padding-top: 50px;
}
.body2 a
{
	color:#444;
}
 nav
{
	background: transparent;
	width: 100%;
	height: 40px;
	display: inline-block;
	position: relative;
	align-items: center;

}
nav ul
{
	list-style: none; 
  	padding:0;
  	margin: 0;
  	text-align: center;
  
}
 nav li
{
	display: inline-block;
	padding: 10px;
}
 nav a{
	display:inline-block;
	width: 100px;
	text-decoration: none;
	text-align: center;
	color:#fff;
	padding: 10px 0;
}
.body2 a:hover
{
	background-color: #eee;
	display: inline-block;
	text-decoration: none;
	color: #000;
}
.body2
{
	 background:url("inter.jpg") no-repeat center center/cover;
	 width: 100%;
	 height: 100vh;
}
.inter
{
	width: 100%;
	height: 35vh;
	background-color:#eee;
	background-size: cover;
	margin-top: 0;
	padding: 20px;
}
.inter p
{
  text-align: justify;
}
.cont
{
  background: transparent;
  align-items: center;
	display: flex;
	justify-content: center;
	width: 100%;
	height: 100vh;
	overflow: hidden;
	position:absolute;
	overflow: hidden;
}
.card
{
	width:90vw;
	height: 80vh;
	background:transparent;
	box-shadow: 0 0 40px 60px rgba();
	background-color:transparent;
	margin-bottom: 100px;
}
.innerbox
{
	width:100%;
	height:100%;
	position: relative; 
	transform-style: preserve-3d;
	transition: transform 1s;
}
.front
{
	
	font-family: sans-serif;
	font-weight: bold;
	position: absolute;
	width:100%;
	height:80vh;
	background-position: center;
	background-size: cover;
	backface-visibility: hidden ;
}
.content1
{
 width: 40%;
 height: 80vh;
 float:left;
 text-align: center;
 background: #eee;
 
}
p
{
	font-family: 'Raleway', sans-serif;
	text-align:justify;
	padding: 20px;
}
.img1
{
		width: 60%;
	 float:left;
 	text-align: center;
}
#img{
	width: 100%;
	height: 80vh;
}
.body3
{
	background:url("honourback.jpg") no-repeat center center/cover;
	 width: 100%;
	 height: 100vh;
}
.body3 h1
{
	color:#000;
	font-family: 'Cinzel', serif;
	letter-spacing: 8px;
	padding-top: 50px;
}
.body3 a:hover
{
	background: #eee;
	color: #444;
	text-decoration: none;
}
.body3 .himg
{
	height: 600px;
	width: 420px;
	border-color: transparent;
	padding: 20px;
}
.body3 ul
{
	list-style: none;
}
.body3 li
{
  padding: 5px;
}
.body3 .li li:first-child
{
	font-size: 30px;
	border: none;
	border-bottom: 1px solid #444;
}
.award{
	font-size: 20px;
}
.foot
{
	background:#44444459;
}
.foot p
{
 text-align: center;
 
 color: #fff;
}
.foot a 
{
	text-decoration: none;
	color:#fff;
}
.body a.active
{
	background-color: #eee;
	display: inline-block;
	text-decoration: none;
	color: #000;
}
.body1 a.active
{
	background-color: #eee;
	display: inline-block;
	text-decoration: none;
	color:#3448C3;
}
.body2 a.active
{
	background-color: #eee;
	display: inline-block;
	text-decoration: none;
	color:#000;
}
.body3 a.active
{
	background-color: #eee;
	display: inline-block;
	text-decoration: none;
	color:#000;
}